<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="px-3 py-3 bg-zinc-900 min-h-screen">
    <form class action="/data" method="post">
        <input type="text" name="issue" placeholder="issue type">
        <input type="text" name="urgency" placeholder="urgency">
        <input type="text" name="location" placeholder="location">
        <input type="text" name="issuetype" placeholder="type oof issue">
        <input type="text" name="status" placeholder="issue status">
        <input class="bg-white" type="submit" value="submit">
    </form>
</div>
</body>
</html>